<div class="form-group">
    <!-- You will want to change this label later on but for now it can stay as-is -->
    <textarea name="edit" style="margin-left: 10px;" placeholder="Edit todo description" [(ngModel)]="editedDescription"></textarea>
    <div class="input-group">
      <div class="input-group-append">
          <button type="button" class="btn btn btn-success" (click)="yes()" style="margin-left: 10px;">Save</button>
          <button type="button" class="btn btn-danger" (click)="cancel()" style="margin-left: 10px;">Cancel</button>
      </div>
    </div>
  </div>